<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alerts" href="/tabs/alerts">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>List Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-alert" href="/tabs/create-alert">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Create Alert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>